@font-face {
    font-family: 'Inter-Regular';
    src: url("assets/fonts/static/Inter-Regular.ttf");
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    text-align: center;
    font-family: Inter-Regular;
    background-image: url("assets/images/Istanbul.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.border{
    width: 500px;
    padding: 40px;
    height: auto;
    border-radius: 15px;
    background-color: #7f757fe8; 
    box-shadow: 0 0 20px rgba(26, 25, 25, 0.6);
}

.Picture{
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.603);
    margin-bottom: 15px;
}

#name{
    color:#F4DBC1;
    font-size: 30px;
    margin: 10px 0;
}

#location{
    color: #aa3b41;
    font-size: 18px;
}

#description{
    color:#F4DBC1;
    margin-bottom: 20px;
    font-size: 14px;
}

.SecondSet{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

button{
    background-color: #a73238;
    border: none;
    border-radius: 5px;
    gap: 8px;
    width: 350px;
    height: 50px;
    padding: 5px;
    color: #F4DBC1;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;   
}

.Icon {
    width: 25px;
    height: 25px;
}

button:hover {
    background-color: #E5535A;
    color: #642D27;
}