@font-face {
    font-family: 'Inter-Regular';
    src: url("assets/fonts/static/Inter-Regular.ttf");
}

body{
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    background-color: #141414;
    text-align: center;
    font-family: Inter-Regular;
}

.border{
    width: 300px;
    padding: 20px;
    height: auto;
    border-radius: 10px;
    background-color: #1c1c1c;
}

.Picture{
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    margin-bottom: 15px;
}

#name{
    color:#DCDCDC;
    font-size: 18px;
    margin: 10px 0;
}

#location{
    margin-top: -5px;
    color: #C1DE50;
    font-size: 12px;
}

#description{
    color:#DCDCDC;
    margin-bottom: 15px;
    font-size: 10px;
}

.SecondSet{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

button{
    background-color: #333333;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    padding: 5px;
    color: #DCDCDC;
    font-weight: bold;
    cursor: pointer;   
}

button:hover {
    background-color: #C1DE50;
    color: #333333;
}